global:
  scrape_interval: 10s
  evaluation_interval: 10s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

rule_files:
  - "/etc/prometheus/rules/*.yml"

scrape_configs:
  - job_name: "minecraft"
    static_configs:
      - targets:
          - "mc_monitor:8080"

  - job_name: "prometheus"
    static_configs:
      - targets:
          - "prometheus:9090"

